body{
    color: var(--secondary);
    background: var(--main-bg);
    min-height: 100vh;
    padding: 15px;
    font-family: 'Sen', sans-serif;
    font-size: 18px;
}

a, :active{color: var(--secondary); text-decoration: underline;}

h1{font-size: 3rem;}
h2{font-size: 2.6rem;}
h3{font-size: 2.2rem;}
h4{font-size: 1.8rem;}
h5{font-size: 1.4rem; }
h6{font-size: 1rem; font-weight: bold; }

h1,h2,h3,h4,h5,h6{margin-bottom: .4rem;}
